*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fonts, headings */
body {
  font-family: "Montserrat", "Roboto", sans-serif;
}

h1,
h2 {
  color: white;
  font-weight: 700;
}

/* Top header and navigation */
.topHeader {
  background: rgb(255, 102, 153);
  background: linear-gradient(
    45deg,
    rgba(255, 102, 153, 1) 0%,
    rgba(153, 51, 255, 1) 100%
  );
  height: 445px;
  background-size: cover;
  text-align: center;
}

.topHeader__nav {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-top: 0;
  padding-top: 20px;
}

.nav__a {
  text-decoration: none;
  color: #663399;
}

.nav__a:hover {
  color: #fff;
}

.nav__li {
  display: inline;
  padding: 0 10px;
}

.header__h1 {
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 116px;
}

.header__h5 {
  font-size: 21px;
  margin-top: 0;
  font-family: "Roboto";
  letter-spacing: 0.1em;
  color: white;
}

/* Main section */
.main__h4 {
  font-size: 27px;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 45px;
  color: #663399;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.main__p {
  font-size: 12px;
  font-family: "Roboto";
  margin-left: 45px;
  letter-spacing: 0.1em;
}

.midHeader__h2 {
  font-size: 73px;
  font-family: "Montserrat", sans-serif;
}

.main__img {
  margin-top: 40px;
  width: 409px;
}

button {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  border: 2px solid purple;
  height: 44px;
  width: 162.5px;
  letter-spacing: 0.1em;
  display: block;
}

.main__button {
  margin-left: 45px;
  margin-top: 10px;
  background-color: white;
  color: #330066;
  border-color: #cc33cc;
}

/* midHeader */
.midHeader {
  text-align: center;
  background-image: url(../images/fullbg.jpg);
  background-color: white;
  padding-top: 100px;
  color: white;
  background-size: cover;
  height: 307px;
}

.team__img {
  margin-top: 20px;
}

/* Footer */
.footer {
  background: rgb(255, 102, 153);
  background: linear-gradient(
    140deg,
    rgba(255, 102, 153, 1) 0%,
    rgba(153, 51, 255, 1) 100%
  );
  height: 500px;
  margin-top: 50px;
}

.footer__h3 {
  font-size: 63px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #330066;
  margin-top: 110px;
}

.footer__formWrapper {
  margin-top: 55px;
}

.footer__form__input, .footer__form__textarea {
  width: 365px;
  margin: 25px 0;
  background-color: transparent;
}

.footer__form__input {
  border: none;
  border-bottom: 1px solid #330066;
}

.footer__form__textarea {
  border: 1px solid #330066;
  height: 100px;
  resize: none;
}

.footer__form__label {
  display: block;
  font-size: 12px;
  font-family: Roboto;
  color: #330066;
  margin-top: 10px;
}

.footer__button {
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
  margin: 15px 0;
}

.footer__p {
  text-transform: uppercase;
  margin-top: 190px;
  font-family: Montserrat;
}
